    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">Données du Ministère de l'Intérieur. Visualisations CC-BY ListesMunicipales.fr</span>
        </div>
    </footer>

    <script src="/jqueryjs/jquery.min.js" type="text/javascript"></script>
    <script src="/bootstrapjs/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
    <% if (scripts) { %>
    <script src="<%- scripts.join('"></script><script src="'); -%>"></script>
    <% } %>
</body>

</html>