<!doctype html>
<html lang="fr" class="h-100">

<head>
    <meta charset="UTF-8">
    <title><%= title %> — ListesMuniciales.fr</title>
    <meta property="og:title" content="Les listes des candidats et candiates à l'élection municipales française de 2020" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://listesmunicipales.fr/" />
    <meta property="og:image" content="https://listesmunicipales.fr/static/image.png" />
    <meta property="og:description" content="Retrouvez toutes les données et tous les résultats de toutes les listes des candidats et candiates à l'élection municipales française de 2020 !" />
    <meta name="description" content="Retrouvez toutes les données et tous les résultats de toutes les listes des candidats et candiates à l'élection municipales française de 2020 !" />
    <meta name="keywords" content="élection, municipales, listes, candidats, candidats, résultats, données, 2020, villes, Paris, Lyon, Marseille, Bordeaux, Nantes, Lille, France, David Libeau" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@DavidLibeau" />
    <meta name="twitter:creator" content="@DavidLibeau" />
    <meta name="twitter:title" content="Listes pour les municipales 2020" />
    <meta name="twitter:description" content="Retrouvez toutes les données et tous les résultats de toutes les listes des candidats et candiates à l'élection municipales française de 2020 !" />
    <meta name="twitter:image" content="https://listesmunicipales.fr/static/image.png" />
    <meta property="og:locale" content="fr_FR" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#3c3c3c" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/forkawesome/1.1.7/css/fork-awesome.min.css" />
    <link rel="stylesheet" href="//dav.li/jquery/ui/jquery-ui.min.css" />
    <link href="/bootstrapcss/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/faicons/css/fork-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body class="d-flex flex-column h-100 bg-light">
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4 text-muted">
                        <h5>Que fait site web ?</h5>
                        <p>Ce site web permet de visualiser les listes des candidat·e·s à l'élection municipale de 2020.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <ul class="list-unstyled">
                            <li><a href="info" class="text-white">A propos</a></li>
                            <li><a href="contact" class="text-white">Contact</a></li>
                            <li><a href="cgu" class="text-white">Mentions légales</a></li>
                            <li><a href="https://framagit.org/ListesMunicipales/www" target="_blank" rel="noopener noreferrer" class="text-white">Code source <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                            <li><a href="https://framagit.org/ListesMunicipales/bdd" target="_blank" rel="noopener noreferrer" class="text-white">Données ouvertes <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong><img src="/static/logo-listesmunicipales-blanc.svg" alt="Logo" height="30" style="margin-top: -7px; margin-right: 4px;" /> ListesMunicipales.fr</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <% if (chemin) { %>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%- chemin.join('</li><li class="breadcrumb-item">'); -%></li>
                </ol>
            </nav>
        </div>
        <% } %>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Les données pour l'élection de 2020 sont maintenant disponibles !
            </div>
        </div>
    </header>