<%- include('../inc/header', {title: commune.nom, chemin: chemin}); -%>

<main role="main">
    <div class="container">
        <div class="jumbotron bg-light">
            <h1 class="display-4"><%= commune.nom %></h1>
            <p class="lead">Population : <%= commune.population %>. Code INSEE : <%= commune.code %>.</p>
        </div>
        <% for(var i=0; i < arrondissements; i++) { %>
            <a class="card mb-4" href="<%= commune.code %>/<%= i+1 %>">
                <div class="card-body">
                    <h5 class="text-muted">Arrondissement # <%= i+1 %></h5>
                </div>
            </a>
        <% } %>
    </div>
</main>

<%- include('../inc/footer', {scripts:[""]}); -%>