<%- include('../inc/header', {title: commune.nom, chemin: chemin}); -%>

<main role="main">
    <div class="container">
        <div class="jumbotron bg-light">
            <h1 class="display-4"><%= commune.nom %></h1>
            <p class="lead">Population : <%= commune.population %>. Code INSEE : <%= commune.code %>.</p>
        </div>
        <% if(listes.length==0){ %>
            <div class="card mb-4 bg-light">
                <div class="card-body">
                    <p class="text-muted text-center">Aucune donnée à afficher pour l'instant.</p>
                </div>
            </div>
        <% }else{ 
            for(var i=0; i < listes.length; i++) { %>
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="text-muted"># <%= i+1 %></h4>
                    <h5 class="card-title"><%= listes[i].LibLisExt %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tête de liste : <%= listes[i].CandidatsListe[0].Candidat[0].CivilitePsn %> <%= listes[i].CandidatsListe[0].Candidat[0].PrePsn %> <%= listes[i].CandidatsListe[0].Candidat[0].NomPsn %></h6>
                    <p class="card-text"><span class="badge badge-dark"><%= nuances[listes[i].CodNuaListe] %></span></p>
                    <!--a class="editBtn" href="/contribuer/<%= commune.codeDepartement %>/<%= commune.code %>/1"><button type="button" class="btn btn-outline-dark"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a-->
                </div>
                <!--div class="card-footer text-muted">
                    Informations modifiées il y a X jours.
                </div-->
            </div>
            <% } 
        } %>
    </div>
</main>

<%- include('../inc/footer', {scripts:[""]}); -%>