<%- include('../inc/header', {title: "Listes pour les municipales de 2020", chemin: false}); -%>

    <main role="main">
        <section class="jumbotron">
            <div class="container text-center">
                <h1>Les listes des municipales de 2020</h1>
                <p class="lead text-muted">Recherchez et visualisez les listes des candidats à l'élections municipales de 2020 !</p>
            </div>
        </section>

        <div class="py-5 bg-light">
            <div class="container">
                <div class="input-group mb-3">
                    <input id="recherche" type="text" class="form-control form-control-lg" placeholder="Rechercher une ville" aria-label="Champ de recherche" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="resultats">
                    <p class="text-muted text-center pt-2"><i class="fa fa-share fa-rotate-270" aria-hidden="true"></i> Commencez par écrire le nom d'une commune dans la barre de recherche ci-dessus.</p>
                    <p class="text-muted text-center pt-2">Par exemple : <a href="/75/75056">Paris</a>, <a href="/69/69123">Lyon</a>, <a href="/44/44109">Nantes</a>, <a href="/76/76351">Le Havre</a> ou <a href="/46/46201">Montcuq-en-Quercy-Blanc</a>.</p>
                </div>
            </div>
        </div>
    </main>

<%- include('../inc/footer', {scripts:["static/recherche.js"]}); -%>