header > .container {
  padding-top: 20px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Recherche */

#resultats>a {
    color: inherit;
    text-decoration: none;
    margin-bottom: 15px;
}
#resultats>a:hover h5{
    text-decoration: underline;
}

/* editBtn */
.editBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}